.reveal .slides section {
  font-size: 75%;
  line-height: 1.2;
}


.reveal .smaller,
.reveal .smaller * {
  font-size: 80% !important;
}


.reveal .smaller-custom,
.reveal .smaller-custom * {
  font-size: 60% !important;
}

.reveal .tiny-custom,
.reveal .tiny-custom * {
  font-size: 40% !important;
}

.reveal pre {
  font-size: 1.8rem !important;
}

.reveal code {
  font-size: 0.75em !important;
}


h1 {
  color: red !important; /* test CSS is loaded */
}

h2 {
  color: red !important; /* test CSS is loaded */
}

h3 {
  color: red !important; /* test CSS is loaded */
}

.smaller-output {
  font-size: 0.8em;
}

code.sourceCode {
  font-size: 0.3em;
}